@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css');

*,
::before,
::after {
	box-sizing: border-box;
}
body {
	font-family: 'SUIT', sans-serif;
	word-break: keep-all;
	line-height: 1.5;
	tab-size: 4;
	margin: 1rem;
}
fieldset {
	margin-inline: 0;
}
fieldset > legend {
	font-weight: bold;
}
ul,
ol {
	padding-inline-start: 20px;
}
