@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css');

@import 'modern-normalize/modern-normalize.css';

body {
	user-select: none;
	font-family: 'SUIT', sans-serif;
	word-break: keep-all;
	line-height: 1.5;
	margin: 1rem;
	/* Required for Swit embedding */
	background-color: white;
}
fieldset {
	margin-inline: 0;
}
fieldset > legend {
	font-weight: bold;
	padding-inline-start: 0.375rem;
	padding-inline-end: 0.375rem;
}
ul,
ol {
	padding-inline-start: 1.25rem;
}
